.joinTheProgram-section
{
    flex-direction: column;
    align-items: center;
}

.joinTheProgram-banner
{
    text-align: center;
    background-color: #FFAA00;
    padding: 15px;
    border-radius: 7px;
    border: 3px solid black;
    width: fit-content;
}
.joinTheProgram-banner > h2
{
    font-size: 1.5em;
    color: red;
}
.joinTheProgram-banner > p
{
    font-size: 1.2em;
    font-weight: 500;
    position: relative;
    top: 5px;
}

/*Co zyskujesz*/
.joinTheProgram-container
{
    width: 100%;
    margin-top: 20px;
}
.joinTheProgram-container > h3
{
    position: relative;
    z-index: 1;
    width: fit-content;
    padding: 10px 20px;
    color: white;
    background-color: red;
}

.joinTheProgram-container .main-list
{
    list-style: none;
    position: relative;
    padding: 0 10px;
    box-shadow: 0px 0px 10px 0px gray;
    overflow: hidden;
    z-index: 0;

    background: url("../images/joinTheProgram-bg.png");
    background-size: cover;
    background-position: center;
}
.joinTheProgram-container .main-list > li
{
    font-size: 1em;
    font-weight: 600;
    padding: 20px 0px;
    border-bottom: 1px solid;
    opacity: 0;
    translate: -50%;
    transition: 1000ms ease;
}
.joinTheProgram-container .main-list > li:nth-child(even)
{
    font-weight: 600;
    padding: 20px 0px;
    border-bottom: 1px solid;
    opacity: 0;
    translate: 50%;
    transition: 1000ms ease;
}
.joinTheProgram-container .main-list > li.show
{
    opacity: 1;
    translate: 0;
}
.joinTheProgram-container .main-list > li:last-child
{
    padding: 20px 0px;
    border: none;
}
.joinTheProgram-container .main-list .plus-sign
{
    height: 20px;   
}
.joinTheProgram-container .main-list li > div
{
    display: flex;
    gap: 10px;
    align-items: center;
}
.joinTheProgram-container .sublist
{
    font-size: 1em;
    color: rgb(0, 0, 0);
    font-weight: 500;
    padding-left: 50px;
}
@media only screen and (min-width: 700px)
{
   .joinTheProgram-banner
    {
        font-size: 1.4rem;
        padding: 20px;
    }

    /*Co zyskujesz*/
    .joinTheProgram-container
    {
        width: 80%;
        font-size: 1.2rem;
    }
}
@media only screen and (min-width: 1024px)
{

}