/*Telefon*/

nav
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-yellow-color);
    box-shadow: 0px 0px 10px 0px gray;
}
nav img
{
    padding: 20px;
    width: 200px;
}
nav ul
{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    list-style: none;
}
nav li
{
    text-align: center;
    width: 100%;
    border-top: 1px solid;
    padding: 10px 0px;
}
nav li a
{
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
}

/*Tablet*/

@media only screen and (min-width: 700px)
{
    nav
    {
        padding: 0;
        flex-direction: row;
    }
    nav img
    {
        width: 150px;
    }
    nav > a
    {
        width: 25%;
    }
    nav > ul
    {
        flex-direction: row;
        width: 75%;
    }

    nav ul li
    {
        border: none;
        width: 33%;
    }

    nav li a
    {
        border-top: none;
        font-size: 1.5rem;
    }
}

/*Komputer*/

@media only screen and (min-width: 1024px)
{
    nav li a
    {
        font-size: 2rem;
    }
    nav img
    {
        width: 200px;
        padding: 20px 40px;
    }
}