.questions-list-wrapper
{
    background-image: url("../images/question-mark.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}
.questions-list-wrapper ul
{
    text-align: center;
    padding: 40px 20px;
    list-style: none;
}
.questions-list-wrapper li:first-child
{
    margin-top: 0;
}
.questions-list-wrapper li
{
    font-weight: 700;
    border-bottom: 1px solid;
    margin-top: 20px;
    padding-bottom: 10px;
    opacity: 0;
    transition: 2s ease;
    font-size: 1.2em;
}
.questions-list-wrapper li.show
{
    opacity: 1;
    transform: 0;
    translate: 0;
}
@media only screen and (min-width: 700px)
{
    .questions-list-wrapper
    {
        width: 70%;
    }

    .questions-list-wrapper li
    {
        font-size: 1.5em;
    }
}
@media only screen and (min-width: 1024px)
{
    .questions-list-wrapper
    {
        width: 60%;
    }

    .questions-list-wrapper li
    {
        font-size: 1.9rem;
    }
}