@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Gothic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/*Czcionka: League Gothic*/
@import url('navbar.css');

:root{
    --primary-yellow-color: #FFAA00;
    --primary-background-color: #1B152F;
    --primary-red-color: red;
    --primary-blue-color: #4442A1;
}

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}
html
{
    scroll-behavior: smooth;
}

body
{
    background-color: white;
}
/*telefony*/

/*Nav*/
/*Main*/
main
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section
{
    display: flex;
    justify-content: center;
    margin: 80px 0;
}


/*Zagwozdki*/
.questions-list-wrapper
{
    width: 60%;
    background-image: url("../images/question-mark.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

.questions-list-wrapper ul
{
    text-align: center;
    padding: 40px 20px;
    list-style: none;
}
.questions-list-wrapper li:first-child
{
    margin-top: 0;
}

.questions-list-wrapper li
{
    font-weight: 700;
    font-size: 1.7rem;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    margin-top: 20px;
    opacity: 0;
    transition: 2s ease;
}
.questions-list-wrapper li.show
{
    opacity: 1;
    transform: 0;
    translate: 0;
}


/*Strzalka*/

.arrow-section
{
    display: flex;
    justify-content: center;
}
.arrow-section > img
{
    height: 200px;
    width: auto;
}


/*Przystąp do programu*/
/*Banner*/
.joinTheProgram-section
{
    flex-direction: column;
    align-items: center;
}

.joinTheProgram-banner
{
    text-align: center;
    background-color: #FFAA00;
    padding: 20px;
    border-radius: 7px;
    border: 3px solid black;
    width: fit-content;
}
.joinTheProgram-banner > h2
{
    font-size: 2.2rem;
    color: red;
}
.joinTheProgram-banner > p
{
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
    top: 5px;
}

/*Co zyskujesz*/
.joinTheProgram-container
{
    width: 60%;
    margin-top: 20px;
}
.joinTheProgram-container > h3
{
    font-size: 1.7rem;
    position: relative;
    z-index: 1;
    width: fit-content;
    padding: 10px 20px;
    color: white;
    background-color: red;
}

.joinTheProgram-container .main-list
{
    list-style: none;
    position: relative;
    padding: 0 10px;
    box-shadow: 0px 0px 10px 0px gray;
        overflow-x: hidden;
    z-index: 0;

    background: url("../images/joinTheProgram-bg.png");
    background-size: cover;
    background-position: center;
}
.joinTheProgram-container .main-list > li
{
    font-size: 1.2em;
    font-weight: 600;
    padding: 20px 0px;
    border-bottom: 1px solid;
    opacity: 0;
    translate: -50%;
    transition: 1000ms ease;
}
.joinTheProgram-container .main-list > li:nth-child(even)
{
    opacity: 0;
    translate: 50%;
    transition: 1000ms ease;
}
.joinTheProgram-container .main-list > li.show
{
    opacity: 1;
    translate: 0;
}
.joinTheProgram-container .main-list > li:last-child
{
    padding: 20px 0px;
    border: none;
}
.joinTheProgram-container .main-list .plus-sign
{
    height: 20px;   
}
.joinTheProgram-container .main-list li > div
{
    display: flex;
    gap: 10px;
    align-items: center;
}
.joinTheProgram-container .sublist
{
    font-size: 1em;
    color: rgb(0, 0, 0);
    font-weight: 500;
    padding-left: 50px;
}

/*Zmiany w kodeksie*/
.codexChanges-section
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.codexChanges-banner
{
    text-align: center;
    background-color: #FFAA00;
    padding: 15px;
    border-radius: 7px;
    border: 3px solid black;
    width: fit-content;
}
.codexChanges-banner > h2
{
    font-size: 1.4em;
}

.codexChanges-container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#codex-article
{
    margin: 20px 0;
    max-width: 50%;
    padding: 15px;
    box-shadow: 0px 0px 10px 0px gray;
}
#codex-article > *
{
    animation-name: fade;
    animation-duration: 1s;
}
@keyframes fade {
    from {opacity: 0.2;}
    to {opacity: 1;}
}
#codex-article h2
{
    color: var(--primary-blue-color);
    font-size: 1.5em;
}
.codexChanges-container button
{
    color: var(--primary-blue-color);
    border: none;
    background-color: transparent;
    font-size: 3em;
    cursor: pointer;
}
.codexChanges-container p
{
    padding-top: 10px;
    font-size: 1.2rem;
}




/* O mnie, Najczęściej zadawane pytania */

.about-section
{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px 0px gray;
    max-width: 80%;
}
.about-nav
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.about-nav > *
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px 5px;
    color: white;
    border: none;
    background-color: red;
    cursor: pointer;
    text-align: center;
}
.about-nav > *:first-child
{
    border-right: 1px solid white;
}
.about-nav > *:last-child
{
    border-left: 1px solid white;
}

/* O mnie */

.about-me{
    display: flex;
    align-items: center;
    background-image: url(../images/about.png);
    background-size: cover;
    padding: 15px;
}
.about-me div
{
    padding-left: 20px;
    border-left: 1px solid gray;
    font-size: 1.5rem;
}
.about-me h3
{
    font-size: 1em;
    padding: 10px 0;
    color: red;
}
.about-me p
{
    font-size: 0.7em;
    font-weight: 500;
    backdrop-filter: blur(5px);
}
.about-me > img
{
    padding-right: 20px;
    width: 33%;
    height:fit-content;
    transition: 1.5s ease;
}

.faq
{
    list-style: none;
    padding: 15px;
}
.faq li
{
    padding-top: 5px;
    border-bottom: 1px solid;
}
.faq div
{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
} 
.faq span
{
    font-size: 2rem;
    height: 100%;
    vertical-align: middle;
    color: var(--primary-blue-color);
}
.faq h4
{
    font-size: 1.5rem;
    font-weight: 500;
}
.faq p
{
    overflow:scroll;
    max-height: 0px;
    font-size: 1.2rem;
    transition: max-height 1.5s ease;
    padding: 0px 15px 0;
}
.faq p.show
{
    max-height: 300px;
    opacity: 1;
    padding: 5px 15px 15px;
}


/*Stopka*/
footer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-yellow-color);
    box-shadow: 0px 0px 10px 0px gray;
}
footer img
{
    padding: 20px;
    width: 200px;
}
footer > div
{
    margin: 10px 0;
    text-align: center;
}
footer ul
{
    margin: 20px 0;
    text-align: start;
    list-style: none;
}
footer ul li
{
    padding: 5px 0;
}
footer ul a
{
    color: black;
}
footer .copyright-p
{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid;
}